@use "variables" as *;
.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &__main-screen-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    width: 95%;
    height: 2rem;
    border-radius: 5px;
  }

  &__city-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
    transition: all 0.8s ease;
  }
}
.main-screen-header {
  &__headline {
    font-size: 3rem;
    padding: 0.5rem;
  }
}
.btn--edit {
  color: $primary-text-color;
  display: flex;
  align-items: center;
  border: none;
  height: fit-content;
  padding: 0.5rem;
  background-color: transparent;
}
.city-card {
  cursor: pointer;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: $primary-box-schadow;

  background-position: center;
  background-repeat: none;
  background-size: cover;

  &__header {
    display: flex;

    padding: 0.5rem;
    justify-content: space-between;

    &--left {
      display: flex;
      flex-direction: column;
    }
    &__city {
      font-size: 1.5rem;
    }
    &__country {
      font-size: 1rem;
    }
    &__temp {
      font-size: 2rem;
    }
  }
  &__footer {
    font-size: 0.7rem;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
  }
}
.city-wrapper {
  display: flex;
  align-items: center;
}
.svg--delete {
  fill: red;
  cursor: pointer;
}

.showDelete {
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-self: center;
}
.searchList {
  width: 95%;
  anchor-name: --input;

  list-style-type: none;
  background-color: white;
  color: black;
  li:hover {
    cursor: pointer;
  }
}
