@use "variables" as *;
@import "detailview";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  color: $primary-text-color;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media (min-width: 700px) {
  .app {
    width: 400px;
  }
}
